.btn-left,
.btn-right {
  position: absolute;
  padding: 10px 5px;
  opacity: 0.8;
  color: black;
  border-radius: 8px;
  cursor: pointer;
}

.btn-left {
  left: 20px;
  top: calc(50% - 25px);
}

.btn-right {
  right: 20px;
  top: calc(50% - 25px);
}

.btn-left:hover {
  background-color: gray;
}

.btn-right:hover {
  background-color: gray;
}

.header {
  padding: 10px 20px;
}

.footer {
  padding: 0px 20px 20px 20px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 16px;

  cursor: pointer;
}

.btn-secondary {
  float: right;
  margin-bottom: 20px;
}

.counter {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: gray;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  height: 32px;
}

/* FADE IN ANIMATION */

.fade-in {
  animation: fade-in 0.4s ease-in;
  -webkit-animation: fade-in 0.4s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* FADE OUT ANIMATION */
.fade-out {
  animation: fade-out 0.3s ease-in;
  -webkit-animation: fade-out 0.3s ease-in;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
