<div class="row">
  <div *ngIf="comments.length == 0" class="col-12">
    <div class="card">
      <div class="card-body">
        <h3>
          <i class="bi bi-exclamation-diamond"></i>&nbsp;&nbsp;Úgy tűnik, hogy
          még nem írtál kommentet egyik poszt alá sem! 🤔
        </h3>
      </div>
    </div>
  </div>
  <div *ngIf="comments.length > 0" class="col-12">
    <div *ngFor="let comment of comments">
      <app-comment-card [comment]="comment"></app-comment-card>
    </div>
  </div>
</div>
