<div class="timeline-header">
  <span class="userimage"><img src="assets/img/user.png" alt="user" /></span>
  <span class="username">{{ user.name }}</span>
  <div *ngIf="ownPost" class="btn-group">
    <div class="btn btn-success btn-sm">
      <i class="bi bi-pencil-square" (click)="editPost()"></i>
    </div>
    <div class="btn btn-danger btn-sm" (click)="deletePost()">
      <i class="bi bi-trash"></i>
    </div>
  </div>
</div>
<div class="timeline-content" *ngIf="!isUpdating">
  <br />
  <strong>{{ post.title }}</strong>
  <br />
  <p>
    {{ post.body }}
  </p>
</div>
<div *ngIf="isUpdating">
  <app-post-create
    [isUpdating]="isUpdating"
    (closeForm)="isUpdating = false"
    [post]="post"
  ></app-post-create>
</div>
<div class="timeline-footer">
  <a (click)="loadComments()" class="m-r-15 text-inverse-lighter"
    ><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Kommentek</a
  >
</div>

<div class="comments" *ngIf="showComments">
  <div class="col-12 mt-3">
    <app-comment-list [postId]="post.id"></app-comment-list>
  </div>
</div>

<div class="timeline-comment-box" *ngIf="showComments && loggedIn">
  <div class="user">
    <img src="assets/img/user.png" />
  </div>
  <div class="input">
    <form action="">
      <div class="input-group">
        <input
          #commentInput
          type="text"
          class="form-control"
          placeholder="Komment írása..."
        />
        <span class="input-group-btn p-l-10">
          <button
            class="btn btn-primary f-s-12"
            type="button"
            (click)="submitComment(commentInput.value)"
          >
            <i class="bi bi-chat-dots"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
