body {
  margin-top: 20px;
  background: #eee;
}

.comments {
  max-height: 600px;
  overflow-y: auto;
}

input {
  border-radius: 4px 0 0 4px;
}

.btn-primary {
  border-radius: 0 4px 4px 0;
  min-width: 50px;
}

.btn-light:hover {
  color: white;
  background-color: darkgray;
}

.b-l {
  color: blue;
}
.b-e {
  color: green;
}
.b-d {
  color: red;
}

.btn-group {
  float: right;
}

.timeline .timeline-body > div + div {
  margin-top: 15px;
}

.timeline .timeline-body > div + div:last-child {
  margin-bottom: -20px;
  padding-bottom: 20px;
  border-radius: 0 0 6px 6px;
}

.timeline-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e7eb;
  line-height: 30px;
}

// .timeline-header .userimage {
//   float: left;
//   width: 34px;
//   height: 34px;
//   border-radius: 40px;
//   overflow: hidden;
//   margin: -2px 10px -2px 0;
// }

.timeline-header .username {
  font-size: 16px;
  font-weight: 600;
}

.timeline-header .username,
.timeline-header .username a {
  color: #2d353c;
}

.timeline img {
  max-width: 100%;
  display: block;
}

.timeline-content {
  letter-spacing: 0.25px;
  line-height: 18px;
  font-size: 13px;
}

.timeline-content:after,
.timeline-content:before {
  content: "";
  display: table;
  clear: both;
}

.timeline-title {
  margin-top: 0;
}

.timeline-footer {
  background: #fff;
  border-top: 1px solid #e2e7ec;
  padding-top: 15px;
}

.timeline-footer a:not(.btn) {
  color: #575d63;
  cursor: pointer;
}

.timeline-footer a:not(.btn):focus,
.timeline-footer a:not(.btn):hover {
  color: #2d353c;
}

.timeline-comment-box {
  background: #f2f3f4;
  margin-left: -25px;
  margin-right: -25px;
  padding: 15px 25px;
  margin-top: 15px;
  margin-bottom: -20px;
  border-radius: 0 0 8px 8px;
}

.timeline-comment-box .user {
  float: left;
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 30px;
}

.timeline-comment-box .user img {
  max-width: 100%;
  max-height: 100%;
}

.timeline-comment-box .user + .input {
  margin-left: 44px;
}

a {
  text-decoration: none;
}

.userimage img {
  width: 34px;
  margin: -2px 10px -2px 0;
  border-radius: 40px;
}

.comments::-webkit-scrollbar {
  width: 12px;
}

.comments::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-left: 5px solid white;
}

.comments::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-left: 5px solid white;
}
