<div class="timeline-header">
  <div *ngIf="ownPost" class="btn-group">
    <div class="btn btn-light btn-sm b-e" (click)="editPost()">
      <i class="bi bi-pencil-square"></i>
    </div>
    <button
      class="btn btn-light btn-sm b-d"
      [disabled]="isDeleting"
      (click)="deletePost()"
    >
      <span *ngIf="!isDeleting"><i class="bi bi-trash"></i></span>
      <span *ngIf="isDeleting"
        ><img src="assets/img/loading_btn.gif" height="15px"
      /></span>
    </button>
  </div>
  <span class="userimage"
    ><img
      src="{{ user?.imageUrl ? user?.imageUrl : 'assets/img/user.png' }}"
      alt="user"
  /></span>
  <span class="username">{{ user.name }}</span>
</div>
<div class="timeline-content" *ngIf="!isUpdating">
  <br />
  <strong style="display: block; margin-bottom: 10px">{{ post.title }}</strong>
  <p>
    {{ post.body }}
  </p>
</div>
<div *ngIf="isUpdating">
  <app-post-create
    [isUpdating]="isUpdating"
    (closeForm)="isUpdating = false"
    [post]="post"
  ></app-post-create>
</div>
<div class="timeline-footer">
  <a (click)="loadComments()" class="m-r-15 text-inverse-lighter"
    ><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Kommentek&nbsp;&nbsp;<i
      class="fas fa-chevron-{{ showComments ? 'down' : 'up' }}"
    ></i
  ></a>
  <!-- <hr *ngIf="showComments" style="opacity: 0.13; margin-bottom: 0px" /> -->
</div>

<div [@showComments] [@hideComments] class="comments" *ngIf="showComments">
  <div class="col-12 mt-3">
    <app-comment-list [postId]="post.id"></app-comment-list>
  </div>
</div>

<div class="timeline-comment-box" *ngIf="showComments && loggedIn">
  <div class="user">
    <img src="assets/img/user.png" />
  </div>
  <div class="input">
    <form #commentForm="ngForm">
      <div class="input-group">
        <input
          #commentInput
          type="text"
          class="form-control"
          placeholder="Komment írása..."
        />
        <span class="input-group-btn p-l-10">
          <button
            class="btn btn-primary f-s-12"
            type="button"
            (click)="submitComment(commentInput.value)"
            [disabled]="isSubmitting"
          >
            <span *ngIf="!isSubmitting"><i class="bi bi-chat-dots"></i></span>
            <span *ngIf="isSubmitting"
              ><img src="assets/img/loading_btn.gif" height="20px"
            /></span>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
