body {
  margin-top: 20px;
  background: #eee;
}

select.form-control:not([size]):not([multiple]) {
  height: 34px;
}
.form-control.input-inline {
  display: inline;
  width: auto;
  padding: 0 7px;
}

.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 5px;
  background: #2d353c;
  margin-left: -2.5px;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  padding: 5px 0;
}

.timeline .timeline-icon {
  left: -11px;
  position: absolute;
  width: 10%;
  top: 22px;
}

.timeline .timeline-icon a {
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 20px;
  background: #d9e0e7;
  line-height: 10px;
  color: #fff;
  font-size: 14px;
  border: 5px solid #2d353c;
  transition: border-color 0.2s linear;
}

.timeline .timeline-body {
  margin-left: 40px;
  margin-right: 17%;
  background: #fff;
  position: relative;
  padding: 20px 25px;
  border-radius: 6px;
}

.timeline .timeline-body:before {
  content: "";
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  left: -20px;
  top: 20px;
}
