body {
  margin-top: 20px;
  background: #eee;
}

select.form-control:not([size]):not([multiple]) {
  height: 34px;
}
.form-control.input-inline {
  display: inline;
  width: auto;
  padding: 0 7px;
}

.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.timeline:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 10.5px;
  bottom: 0px;
  width: 5px;
  background: #2d353c;
  margin-left: -2.5px;
}

.timeline:last-child:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 10.5px;
  bottom: 0px;
  width: 5px;
  background: #2d353c;
  margin-left: -2.5px;
  height: 35px;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  padding: 5px 0;
}

.timeline .timeline-icon {
  left: 0px;
  position: absolute;
  width: 10%;
  top: 22px;
}

.timeline .timeline-icon a {
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 20px;
  background: #d9e0e7;
  line-height: 10px;
  color: #fff;
  font-size: 14px;
  border: 5px solid #2d353c;
  transition: border-color 0.2s linear;
}

.timeline .timeline-body {
  margin-left: 40px;
  // margin-right: 7.9%;
  background: #fff;
  position: relative;
  padding: 20px 25px;
  border-radius: 6px;
}

.timeline .timeline-body:before {
  content: "";
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  left: -20px;
  top: 20px;
}

@media only screen and (max-width: 575px) {
  .post-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.highlighted {
  animation: highl 0.8s ease-in;
  -webkit-animation: highl 0.8s ease-in;
  animation-iteration-count: 3;
}

@keyframes highl {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes highl {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
