<body>
  <!-- HEADER -->
  <app-header></app-header>

  <!-- CONTENT -->
  <div class="container my-5">
    <router-outlet></router-outlet>
  </div>

  <!-- FOOTER -->
  <app-footer></app-footer>

  <!-- MODALS -->
  <app-login-modal></app-login-modal>
  <app-alert-modal></app-alert-modal>
  <app-loading-modal></app-loading-modal>

  <!-- PRIVACY BAR -->
  <div
    class="privacy-banner fade-in"
    style="border-top: 2px solid gray; display: none"
  >
    <div>
      <p>
        Az oldal Sütiket használ a szolgáltatások biztosítása és fejlesztése
        érdekében. Hozzájárulok a Sütik (cookiek) használatáshoz.

        <a class="banner-accept btn btn-primary" style="cursor: pointer"
          >Elfogadom</a
        >
      </p>
    </div>
  </div>
</body>
