<div class="row">
  <div class="col-8">
    <div class="card mb-3">
      <div class="card-body">
        <img
          src="assets/img/comment.png"
          alt="comment"
          style="margin: 0 10px 0 0px"
        /><strong>{{ comment.email }}</strong>
        <hr />
        <span class="my-2">{{ comment.body }}</span>
        <hr />
        <span class="marker"
          ><i class="bi bi-blockquote-left"></i>&nbsp;&nbsp;Poszt:</span
        >
        {{ post.title }} <br />
        <span class="marker"
          ><i class="bi bi-person"></i>&nbsp;&nbsp;Szerző:</span
        >
        {{ user.name }}
      </div>
    </div>
  </div>
</div>
