<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">
          <i
            class="bi {{
              isRegistration ? 'bi-person-plus' : 'bi-person-check'
            }}"
          ></i
          >&nbsp;&nbsp;{{ isRegistration ? "Regisztráció" : "Bejelentkezés" }}
        </h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="close()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="bi bi-envelope"></i
                ></span>
              </div>
              <input
                type="email"
                class="form-control"
                placeholder="E-mail cím"
                aria-label="E-mail cím"
                formControlName="email"
                aria-describedby="basic-addon1"
                [ngClass]="{ 'is-invalid': submitted && lf.email.errors }"
              />
              <div
                *ngIf="submitted && lf.email.errors"
                class="invalid-feedback"
              >
                <div *ngIf="lf.email.errors.required">
                  Add meg az e-mail címed
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"
                  ><i
                    class="bi {{ isRegistration ? 'bi-person' : 'bi-key' }}"
                  ></i
                ></span>
              </div>
              <input
                type="{{ isRegistration ? 'text' : 'password' }}"
                class="form-control"
                placeholder="{{ isRegistration ? 'Teljes név' : 'Jelszó' }}"
                aria-label="Jelszó"
                formControlName="password"
                aria-describedby="basic-addon1"
                [ngClass]="{ 'is-invalid': submitted && lf.password.errors }"
              />
              <div
                *ngIf="submitted && lf.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="lf.password.errors.required">
                  Add meg a {{ isRegistration ? "teljes neved" : "jelszavad" }}
                </div>
                <div *ngIf="lf.password.errors.minlength">
                  A {{ isRegistration ? "teljes név" : "jelszó" }} hossza
                  minimum 5 karakter
                </div>
              </div>
            </div>
          </div>

          <div class="input-group mt-3" *ngIf="isRegistration">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"
                ><i class="bi bi-person-badge"></i
              ></span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Felhasználónév"
              aria-label="Felhasználónév"
              formControlName="username"
              aria-describedby="basic-addon1"
              [ngClass]="{ 'is-invalid': submitted && lf.username.errors }"
            />
            <div
              *ngIf="submitted && lf.username.errors"
              class="invalid-feedback"
            >
              <div *ngIf="lf.username.errors.required">
                Add meg a felhasználói nevedet
              </div>
              <div *ngIf="lf.username.errors.minlength">
                A felhasználói név hossza minimum 5 karakter
              </div>
            </div>
          </div>

          <div class="form-group form-check mt-2">
            <label class="form-check-label" [class.hidden]="isRegistration">
              <input
                class="form-check-input"
                formControlName="remember"
                type="checkbox"
                name="remember"
              />
              Emlékezz rám
            </label>
            <span class="float-right btn-reg" (click)="switchMode()"
              ><strong>{{
                isRegistration ? "Bejelentkezés" : "Regisztráció"
              }}</strong></span
            >
          </div>

          <div *ngIf="isLoading" class="my-0 text-center">
            <img src="assets/img/loading.gif" alt="loading" />
          </div>
          <button
            *ngIf="!isLoading"
            type="submit"
            class="btn btn-info btn-block btn-round w-100 mt-4"
          >
            <strong>{{
              isRegistration ? "Regisztráció" : "Bejelentkezés"
            }}</strong>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
