<footer class="footer bg-dark">
  <div class="container">
    <ul class="foote_bottom_ul_amrc col-12 text-center">
      <li><a routerLink="/">Kezdőlap</a></li>
      <li><a routerLink="/posts">Posztok</a></li>
      <li><a routerLink="/gallery">Galéria</a></li>
    </ul>
    <p class="text-center">Copyright @2021 | Mészáros-K. Marcell</p>
    <ul class="social_footer_ul">
      <li>
        <a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
        <a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
</footer>
