.card-head {
  cursor: pointer;
}

.short-text {
  white-space: nowrap;
  // width: 265px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.img-fluid {
  margin-left: -20px;
}

.dots {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.dots:after {
  content: "\2807";
  font-size: 25px;
}

.dots:hover {
  color: gray;
  transform: rotate(90deg);
}

.btn-group {
  padding: 0px;
  margin: 0px;
  width: 100% !important;
  height: 0px !important;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.btn {
  border-radius: 0 0 4px 4px;
}

.b-n {
  color: green;
}

.b-d {
  color: red;
}

.btn:hover {
  color: white;
  background-color: darkgray;
}

.visible {
  height: 31px !important;
}
