<div class="card">
  <span>
    <button
      class="btn btn-success btn-sm btn-success"
      [disabled]="isDeleting"
      (click)="addImage()"
    >
      <span><i class="bi bi-image"></i>&nbsp;&nbsp;Új kép</span>
    </button>
    <button
      class="btn btn-danger btn-sm btn-delete"
      [disabled]="isDeleting"
      (click)="deleteAlbum()"
    >
      <span *ngIf="!isDeleting"
        ><i class="bi bi-trash"></i>&nbsp;&nbsp;Törlés</span
      >
      <span *ngIf="isDeleting"
        ><img src="assets/img/loading_btn.gif" height="15px"
      /></span>
    </button>
  </span>
  <div class="card-head text-center" (click)="open()">
    <img
      class="img-fluid"
      src="assets/img/folder.png"
      width="150px"
      alt="folder"
    />
  </div>
  <div class="card-body">
    <div class="short-text">
      <strong>{{ album.title }}</strong>
    </div>
    <span class="d-block mt-1"
      ><i class="bi bi-person-bounding-box"></i>&nbsp;&nbsp;{{ userName }}</span
    >
  </div>
</div>
