<div class="card">
  <div class="dots" (click)="toggleMenu()"></div>
  <div class="card-head text-center" (click)="open()">
    <img
      class="img-fluid"
      src="assets/img/folder.png"
      width="150px"
      alt="folder"
    />
  </div>
  <div class="card-body">
    <div class="short-text" (click)="open()">
      <strong>{{ album.title }}</strong>
    </div>
    <span class="d-block mt-1"
      ><i class="bi bi-person-bounding-box"></i>&nbsp;&nbsp;{{ userName }}</span
    >
  </div>
  <span #group class="btn-group" role="group" aria-label="menu">
    <button
      type="button"
      [disabled]="isDeleting"
      class="btn btn-light btn-sm b-n"
      (click)="addImage()"
    >
      <i class="bi bi-image"></i>&nbsp;&nbsp;Új kép
    </button>
    <button
      type="button"
      [disabled]="isDeleting"
      class="btn btn-light btn-sm b-d"
      (click)="deleteAlbum()"
    >
      <span *ngIf="!isDeleting"
        ><i class="bi bi-trash"></i>&nbsp;&nbsp;Törlés</span
      >
      <span *ngIf="isDeleting"
        ><img src="assets/img/loading_btn.gif" height="15px"
      /></span>
    </button>
  </span>
</div>
