.card-head {
  cursor: pointer;
}

.img-fluid {
  margin-left: -90px !important;
}

.short-text {
  white-space: nowrap;
  // width: 265px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-delete {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 80px;
}

.btn-success {
  position: absolute;
  right: 10px;
  top: 45px;
  width: 80px;
}
